@model AppCine.Models.Pelicula

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomPelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomPelicula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoPelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoPelicula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cupos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cupos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreCine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreCine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
